<ion-header>
  <ion-toolbar>
    <ion-title>UpcomingPlayDatesModal</ion-title>
    <ion-icon name="arrow-round-back" slot="end" (click)="dismiss()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header>
    <ion-label>Upcoming</ion-label>
  </ion-list-header>
  <ion-list>
    <ion-item *ngFor="let upcomingEvent of upcomingEvents" >
<!--        <ion-avatar slot="start">-->
<!--            <img src="data:image/jpg;base64,{{playdateRequestedByOther.base64Image}}" />-->
<!--        </ion-avatar>-->
      <ion-label>
        <h2>When:    {{upcomingEvent.when}}</h2>
        <h3>Where:   {{upcomingEvent.where}}</h3>
        <h4>{{upcomingEvent.description}}</h4>
      </ion-label>

          <ion-button *ngIf="upcomingEvent.status==='REQUESTED'">Accept</ion-button>
<!--          <ion-button (click)="showUserProfileModal(playdateRequestedByOther.requestedBy)">View Profile{{playdateRequestedByOther.requestedBy}}</ion-button>-->
    </ion-item>
  </ion-list>


</ion-content>
