<ion-tabs>

   <ion-tab-bar slot="bottom">
    <ion-tab-button tab="playdates">
     <ion-icon name="contact"></ion-icon>
     <ion-label>PlayDates</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="events">
     <ion-icon name="mail"></ion-icon>
     <ion-label>Create New</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
     <ion-icon name="settings"></ion-icon>
     <ion-label>Settings</ion-label>
    </ion-tab-button>

     <ion-tab-button tab="myprofile">
       <ion-icon name="calendar"></ion-icon>
       <ion-label>MyProfile</ion-label>
     </ion-tab-button>
   </ion-tab-bar>

</ion-tabs>
